
.page{
    box-sizing: border-box;
}
.ml-15{
    margin-left: 15px;
}
.mt-15{
    margin-top: 15px;
}
.sn-code{
    width: 80%;
    height: 100%;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 500;
    margin-left: 15px;
  
}